@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Mozilla+Text:wght@200..700&display=swap');
@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6,
.font-mono {
  font-family: "JetBrains Mono", monospace;
}
body[data-theme="light"] {
  --background-color: hsl(0, 0%, 99%);
  --color: hsl(0, 0%, 10%);
  --border: hsl(0, 0%, 60%);
  --sub-text: hsl(0, 0%, 30%);
  --social-bg:hsl(0, 0%, 99%) ;
  --social-text: hsl(0, 0%, 2%);
  --social-accent: hsl(265, 60%, 53%);
  --social-sub: hsl(0, 0%, 40%);
  .logo {
    filter: invert();
  }
}
body[data-theme="dark"]{
  --background-color: hsl(0, 0%, 6%);
  --color: hsl(0, 0%, 94%);
  --border: hsl(0, 0%, 20%);
  --sub-text: hsl(0, 0%, 60%);
}
body {
  font-family: "Mozilla Text", "Inter", system-ui;
  transition: all 0.3s ease-in-out;
  background-color: var(--background-color);
  color: var(--color);
  border-color: var(--border);
  --social-bg: hsl(0, 0%, 6%);
  --social-text: hsl(0, 0%, 98%);
  --social-accent: hsl(265, 72%, 60%);
  --social-sub: hsl(0, 0%, 60%);
}
